{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}

<div class="page-banner-area bg-1">
    <div class="container">
        <div class="page-banner-content">
            <h1>Payment Success</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Payment Success</li>
            </ul>
        </div>
    </div>
</div>


<div class="checkout-area pt-70 pb-45">
    <div class="container">
        <div class="row">
            <h1>Payment Success</h1>
        </div>
    </div>
</div>

{% endblock %}